*.pyc
*.swp
.idea/*
log/*
/tmp
.DS_Store
/venv
poetry.lock

sample_attributes_5.csv
sample_attributes.csv
*.png
Resources/DataSources/test_files/temp/

log.html
report.html
playwright-log.txt
output.xml
