*.pyc
*.swp
.idea/*
log/*
/tmp
.DS_Store
/venv
poetry.lock
*.png

log.html
report.html
playwright-log.txt
output.xml

Results/Reports/allure-results
Results/Reports/browser/screenshot/
Results/Reports/browser/traces/
Resources/DataSources/test_files/temp/
#Resources/DataSources/test_files/