[MESSAGES CONTROL]
disable=too-many-public-methods,
        missing-docstring,
        logging-fstring-interpolation,
        too-many-instance-attributes,
        too-few-public-methods,
        too-many-arguments,
        too-many-locals,
        duplicate-code,
        invalid-name,
        fixme

ignore=README.md, Dockerfile, browser/*
ignore-patterns=.*\.html$, .*\.xml, .*\.txt, .*\.lock, .*\.toml, .*\.png, .*\.resource, __init__.py

[FORMAT]
max-line-length=120